.container {
    width: 1180px;
    margin: auto;
    max-width: 100%;
    padding: 60px 20px;
}

.container--smaller {
    width: 940px;
}

.container--larger {
    width: 1600px;
}

.container--shadow {
    box-shadow: 0 0 10px #ccc;
}

.container--padding {
    padding: 20px 20px;
}

.container__download {
    margin-top: 30px;
}


