.main__header {
    margin-top: 50px;
    font-family: 'Marcellus',serif;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding: 0;
    font-size: 40px;
    color: #333;
    margin: 50px auto 0 auto;
}

