.main__header {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -10px;
    font-family: 'Marcellus',serif;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding: 0;
    font-size: 40px;
    color: #333;
}

