.news-image {
  background: url(/images/main-site/second.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mySlides {
  display: none;
}

.news-padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.news-black,
.news-hover-black:hover {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.548) !important;
}

.news-container:after,
.news-container:before {
  content: "";
  display: table;
  clear: both;
}

.news-container {
  padding: 0.01em 16px;
}

.news-display-container:hover .news-display-hover {
  display: block;
}
.news-display-container:hover span.news-display-hover {
  display: inline-block;
}
.news-display-hover {
  display: none;
}

.news-display-container {
  position: relative;
  line-height: 0.7;
  border: 2px ridge rgb(69, 68, 68);
  transition: 0.3s;
}

.news-display-container:hover {
  border: 2px ridge rgb(133, 30, 30);
}

.news-content {
  margin-left: auto;
  margin-right: auto;
}
.news-content {
  max-width: 980px;
}

.news-display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}
.news-display-topright {
  position: absolute;
  right: 0;
  top: 0;
}
.news-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}

.news-display-bottomleft--subtitle {
  position: absolute;
  left: 0;
  bottom: 10%;
}

.news-display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
}
.news-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.news-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}
.news-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.news-title-font {
  font-size: 23px !important;
  color: rgb(133, 30, 30) !important;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black,
    1px 1px black, -1px -1px 0 black;
}

.news-subtitle-font {
  font-size: 16px !important;
  color: rgb(168, 168, 168) !important;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black,
    1px 1px black, -1px -1px 0 black;
}

.news-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background: rgba(0, 0, 0, 0.548);
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0px 0px 4px 0px #ccc;
  height: 180px;
}

.news-button:hover {
  opacity: 0.5;
}

@media (max-width: 767px) {
  .container,
  .container--opacity,
  .news-container,
  .news-content,
  .news-display-container {
    display: none;
  }
}
